@charset "UTF-8";
/* COLORS */
/* ESTILS PER EL MENU */
@import url(https://fonts.googleapis.com/css?family=Lato:300);
@import url(https://fonts.googleapis.com/css?family=Nixie+One);
.navbar {
  border-radius: 0px !important;
  border: none !important;
  margin-bottom: 0px !important; }

.navbar-default {
  background-color: transparent !important; }

.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > li > a:hover {
  background-color: #CE6C5F; }

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:focus,
.navbar-default .navbar-nav > .open > a:hover {
  background-color: transparent; }

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > .active > a:hover {
  background-color: #CE6C5F; }

.navbar-default .navbar-toggle {
  background-color: #CE6C5F;
  border-color: #ffffff; }

.navbar-default .navbar-toggle .icon-bar {
  background-color: #ffffff; }

#navegacio {
  background-color: #7B1D10;
  /*background-color: #f5f5f5;*/
  width: 100%;
  z-index: 99999;
  top: 0;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 20px; }

#navegacio a {
  color: #FFFFFF; }

h3.titol-menu-mobil {
  color: #ffffff;
  margin-top: 10px; }

@media (min-width: 1200px) {
  #menu-principal {
    padding: 0px; }
  .navbar-collapse {
    padding: 0px; }
  #peu {
    margin-top: 0px; } }

@media (min-width: 768px) {
  #menu-principal {
    padding: 0px; }
  .navbar-collapse {
    padding: 0px; } }

@media (min-width: 1024px) {
  #menu-principal {
    padding: 0px; }
  .navbar-collapse {
    padding: 0px; } }

/**
* @author      Jordi Sorts
* @package     Plantilla per Semab
* @license     http://www.gnu.org/licenses/gpl-2.0.html GNU/GPL
* @copyright   © 2016 www.websdefutbol.com. All rights reserved.
*/
/* ESTILS GENERALS */
body {
  font-family: 'Lato', sans-serif;
  background-color: #efefef; }

h1, h2, h3, h4, h5, h6 {
  font-family: 'Nixie One', cursive; }

a {
  color: yellow; }

a:hover {
  text-decoration: none;
  color: #CE6C5F; }

/* BUTÓ PERSONLITZAT SEMAB */
.btn-semab {
  background-color: #7B1D10;
  color: #ffffff;
  border-color: #7B1D10; }

.btn-semab:hover {
  background-color: #CE6C5F;
  color: #ffffff;
  border-color: #7B1D10; }

/* PERSONALITZACIÓ PAGINACIÓ */
.pagination > .active > a,
.pagination > .active > a:focus,
.pagination > .active > a:hover,
.pagination > .active > span,
.pagination > .active > span:focus,
.pagination > .active > span:hover {
  background-color: #7B1D10;
  border-color: transparent; }

.pagination > li > a:focus,
.pagination > li > a:hover,
.pagination > li > span:focus,
.pagination > li > span:hover {
  color: #CE6C5F; }

.pagination > li > a,
.pagination > li > span {
  color: #7B1D10; }

div.pagination {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center; }

p.pull-right {
  float: none !important; }

/* ESTILS CAPÇALERA */
#logo {
  background-color: #efefef; }

#wrapper {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #ffffff; }

/* ESTILS PEU */
#peu {
  background-color: #7B1D10;
  color: #ffffff;
  margin-top: 40px; }

.peu {
  padding: 10px 0px !important;
  margin-bottom: 0px; }

/* BUTTON SCROLL TO TOP */
.cd-top {
  display: inline-block;
  height: 40px;
  width: 40px;
  position: fixed;
  bottom: 40px;
  right: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  /* image replacement properties */
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  background: #CE6C5F url(../images/cd-top-arrow.svg) no-repeat center 50%;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity .3s 0s, visibility 0s .3s;
  -moz-transition: opacity .3s 0s, visibility 0s .3s;
  transition: opacity .3s 0s, visibility 0s .3s; }

.cd-top.cd-is-visible, .cd-top.cd-fade-out, .no-touch .cd-top:hover {
  -webkit-transition: opacity .3s 0s, visibility 0s 0s;
  -moz-transition: opacity .3s 0s, visibility 0s 0s;
  transition: opacity .3s 0s, visibility 0s 0s; }

.cd-top.cd-is-visible {
  /* the button becomes visible */
  visibility: visible;
  opacity: 1; }

.cd-top.cd-fade-out {
  /* if the user keeps scrolling down, the button is out of focus and becomes less visible */
  opacity: .5; }

.no-touch .cd-top:hover {
  background-color: #e86256;
  opacity: 1; }

@media only screen and (min-width: 768px) {
  .cd-top {
    right: 20px;
    bottom: 20px; } }

@media only screen and (min-width: 1024px) {
  .cd-top {
    height: 60px;
    width: 60px;
    right: 30px;
    bottom: 30px; } }

/* BUTTON SCROLL TO TOP */
/* HOVER ITEM PRODUCTES */
.hovereffect {
  width: 100%;
  height: 100%;
  float: left;
  overflow: hidden;
  position: relative;
  text-align: center;
  cursor: default; }

.hovereffect .overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out; }

.hovereffect img {
  display: block;
  position: relative;
  -webkit-transition: all .4s linear;
  transition: all .4s linear; }

.hovereffect h2 {
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  position: relative;
  font-size: 17px;
  background: rgba(0, 0, 0, 0.6);
  /*-webkit-transform:translatey(-100px);
-ms-transform:translatey(-100px);
transform:translatey(-100px);*/
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  padding: 10px; }

.hovereffect a.info {
  text-decoration: none;
  display: inline-block;
  text-transform: uppercase;
  color: #fff;
  border: 1px solid #fff;
  background-color: transparent;
  /*opacity:0;*/
  filter: alpha(opacity=0);
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  margin: 50px 0 0;
  padding: 7px 14px; }

.hovereffect a.info:hover {
  box-shadow: 0 0 5px #fff; }

.hovereffect:hover img {
  -ms-transform: scale(1.2);
  -webkit-transform: scale(1.2);
  transform: scale(1.2); }

.hovereffect:hover .overlay {
  opacity: 1;
  filter: alpha(opacity=100); }

/* HOVER ITEMS PRODUCTES */
/*Override Vista Blog de una Categoria*/
.noticies-vista-categoria {
  padding-bottom: 20px; }

.imatge-noticies-vista-categoria {
  padding-bottom: 20px; }

.noticies-categoria-info-block {
  border-bottom: 1px solid #eeeeee;
  padding-bottom: 10px;
  margin-bottom: 10px; }

/*Override Vista Blog de una Categoria*/
/* ESTILS PER FORMULARIS */
.form-horizontal .control-label {
  text-align: left; }
