/* ESTILS PEU */

#peu {
	background-color: #7B1D10;
	color: #ffffff;
    margin-top: 40px;
}

.peu {
	padding: 10px 0px !important;
	margin-bottom: 0px;
}

.prova {
	background-color: red;
	color: blue;
}