/*Override Vista Blog de una Categoria*/
.noticies-vista-categoria {
    padding-bottom: 20px;
}

.imatge-noticies-vista-categoria {
    padding-bottom: 20px;
}

.noticies-categoria-info-block {
    border-bottom: 1px solid #eeeeee;
    padding-bottom: 10px;
    margin-bottom: 10px;
}
/*Override Vista Blog de una Categoria*/